# Keil MDK 编译产物
OBJ/
Listings/

# Keil IDE 临时文件
*.uvguix.*
*.uvoptx
*.uvprojx
*.build_log.htm
*.dep
*.lnp
*.sct
*.htm
*.map
*.axf
*.hex
*.crf
*.d
*.o
*.lst
*.iex
*.scvd
*.dbgconf
build.log

# Keil VS 工程文件
VSUSER/
RTE/
DebugConfig/

# 备份文件
*.orig
*.bak
*.Bak
*_sct.Bak

# Keil 清理脚本
keilkilll.bat

# VS Code
.vscode/

# clangd
.cache/
compile_commands.json
.clangd

# macOS
.DS_Store

# Windows
Thumbs.db

# 文档和固件库
docs/
GD32F4xx_Firmware_Library_V3.2.0/

# 测试脚本
LiSanBigRotate_V1.1_gd32/MCUTemplate/fly_out_detect/
LiSanSmall_Rotate/MCUTemplate/position_right/
